<!-- NOTE: This is an edited version of the view included in the Rails
Guides. -->

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @message %>
  </body>
</html>